
.editBlog {
    position: absolute;
    text-align: center;
    top: 30%;
    left: 42%;
    
}

.mainTitle {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.displayBlog {
    text-align: center;
    position: absolute;
    top: 10%;
    left: 34%;

}

.blogItem {
    text-align: left;
    position: relative;
    border-style: outset;
    padding: 20px;
    width: 350px;
}